html{
    scroll-behavior: smooth;
}
body{
    height: fit-content;
    font-family: inter;
    margin: 0;
    background: url(b.png);
}
::-webkit-scrollbar{
    display: none;
}

.nav{
    align-items: center;
    display: flex;
    margin: 0;
    width: 100vw;
    justify-content: space-between;
}
.nav h1{
    font-weight: 200;
    width: auto;
    padding: 5px 50px;
}
.nav .list {
    padding-right: 50px;
}
.nav .list a{
    font-weight: 600;
    padding: 2px 25px;
    text-decoration: none;
    color: black;
}
.nav .list a:hover{
    font-weight: 400;
    filter: drop-shadow(0 1px 15px grey);
    transition: fade 5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
.landing{
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 10%;
    padding: 5%;
    align-items: center;
    text-align: center;
}
.landing h1{
    font-family: genos;
    font-weight: 500;
    font-size: 54px;
    letter-spacing:20px;
}
.landing button{
    color: #E2E8F0;
    background-color: #1E293B;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.landing button:hover{
    letter-spacing: 5px;
    transition: ease-in-out 200ms;
}

.pricing{
    scale: 0.7;
    transform: translateY(-200px);
    min-width: 540px;
    padding:50px 75px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.08);

}
.pricing:hover{
    transition: ease-in-out .3s;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.264);
}

.card{
    flex: 1;
    min-width: 250px;
    margin: auto ;
    scale: 0.95;
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 15px;
    border-radius: 4px;
    background:linear-gradient(to right bottom,#4e8fff,#e83ec4);
    cursor: pointer;
}
.card::before {
    min-width: 250px;
    mix-blend-mode: screen;
    content: "";
    position: absolute;
    top: -10px; 
    left: -10px; 
    right: -10px; 
    bottom: -10px;
    background: linear-gradient(to right bottom, #4e8fff, #e83ec4);
    filter: blur(50px);
    opacity: 0.8; 
    z-index: -1;
}
.card:hover{
    scale: 1;
    transition: ease 1s;
}
.card:hover .image img{
    scale: 1.15;
    transition: ease 1s;
}
.image{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 50%;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.text{
    margin: 4%;
    margin-left: 10%;
}
.text h1{
    margin: 0;
    color: azure;
}
.bottomcard{
    box-shadow:0 0 55px linear-gradient(to right bottom,#4e8fff,#e83ec4);
}
.container span img{
    width: 20px;
}
.container span{
    color: #3b5375a9;
    font-weight: 800;
}
.container h1{
    font-family: poppins;
}

.text li{
    color: #e0eeff;
    width: fit-content;
    margin: 0;
}
.text ul{
    padding:0 20px;
}
ul{
    padding:0 20px;
}
.Deluxe div{
    width: 95%;
    overflow: hidden;
}
.Deluxe{
    width: 50%;
    margin: 0;
    padding: 0;
}


.Deluxe img{
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.189);
    border-radius: 4px;
}
.x{
    width: 50%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
#book:hover{
    letter-spacing: 5px;
    transition: ease-in .3s;
    text-align: center;
}
#book{
    width: auto;
    text-align: center;
    margin: auto;
    padding: 10px 36px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #1E293B;
    color: #E2E8F0;
    margin: 15px 0px ;
    font-family: jaldi;
}
.d-text{
    width: auto;
}