html{
    scroll-behavior: smooth;
}
body{
    font-family: inter;
    margin: 0;
    background: url(b.png);
}
::-webkit-scrollbar{
    display: none;
}

.nav{
    align-items: center;
    display: flex;
    margin: 0;
    width: 100vw;
    justify-content: space-between;
}
.nav h1{
    font-weight: 200;
    width: auto;
    padding: 5px 50px;
}
.nav .list {
    padding-right: 50px;
}
.nav .list a{
    font-weight: 600;
    padding: 2px 25px;
    text-decoration: none;
    color: black;
}
.nav .list a:hover{
    font-weight: 400;
    filter: drop-shadow(0 1px 15px grey);
    transition: fade 5s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
.landing{
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 10%;
    padding: 5%;
    align-items: center;
    text-align: center;
}
.landing h1{
    font-family: genos;
    font-weight: 500;
    font-size: 54px;
    letter-spacing:20px;
}
.landing button{
    color: #E2E8F0;
    background-color: #1E293B;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.landing button:hover{
    letter-spacing: 5px;
    transition: ease-in-out 200ms;
}

.pricing{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
}
.card{
    scale: 0.95;
    position: relative;
    width: 40%;
    height: 510px;
    border-radius: 4px;
    background:linear-gradient(to right bottom,#4e8fff,#e83ec4);
    cursor: pointer;
}
.card::before {
    mix-blend-mode: screen;
    content: "";
    position: absolute;
    top: -10px; /* Move the pseudo-element above the card */
    left: -10px; /* Move the pseudo-element to the left of the card */
    right: -10px; /* Make the pseudo-element stretch to the right */
    bottom: -10px; /* Make the pseudo-element stretch to the bottom */
    background: linear-gradient(to right bottom, #4e8fff, #e83ec4);
    filter: blur(50px); /* Add a blur effect for the glowing effect */
    opacity: 0.8; /* Adjust the opacity as needed */
    z-index: -1; /* Place the pseudo-element behind the card */
}
.card:hover{
    scale: 1;
    transition: ease 1s;
}
.card:hover .image img{
    scale: 1.15;
    transition: ease 1s;
}
.image{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 50%;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.text{
    margin: 4%;
    margin-left: 6%;
}
.text h1{
    font-family:jaldi;
    color: azure;
}
.bottomcard{
    box-shadow:0 0 55px linear-gradient(to right bottom,#4e8fff,#e83ec4);

}